$this: 'l-dashboard' !global;

.#{$this} {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint('>=', 'ts') {
    flex-direction: row;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
