$this: 'c-loading' !global;

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.#{$this} {
  border-radius: 50%;
  border: 4px solid rgba($black, 0.25);
  border-top: 4px solid $black;
  animation: 1.64s loading infinite linear;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
